<% title "Articles" %>

<% for article in @articles %>
  <h2><%= link_to article.name, article %></h2>
  <p><%= truncate article.content, :length=>100 %></p>
<% end %>

<p><%= link_to "New Article", new_article_path %></p>
