<div class='receipt'>
  <h1>Thanks for shopping with Samurai!</h1>

  <h2>Your purchase has been completed:</h2>

  <section class="shopping_cart">
    <h3>Items:</h3>
    <table>
      <tr><td>(1)</td><td>Samurai.js Katana Sword</td>              <td>$  22.22</td></tr>
      <tr><td></td>   <td>Overnight Shipping (battle imminent!)</td><td>$ 100.00</td></tr>
      <tr><td colspan="3"></td></tr>
      <tr><td></td>   <td>Total:</td>                               <td>$ 122.22</td></tr>
    </table>
  </section>

  <%= link_to 'Back to the Samurai Weapons', root_path %>
</div>
